/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLORS */
/* TYPOGRAPHY */
h1 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-size: 3em;
  color: #34495e; }

h2 {
  font-family: "source-sans-pro", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.2;
  color: #1abc9c; }

p {
  font-family: "source-sans-pro", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6;
  color: #666666; }

button {
  font-family: "source-sans-pro";
  font-size: 1.25em;
  color: #fff;
  border-radius: 5px;
  border: 0; }

footer {
  margin-top: 60px; }

/* GRID */
.container {
  width: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* WELCOME PAGE */
.welcome-page {
  margin: 0 auto;
  padding: 20px;
  text-align: center; }
  .welcome-page .welcome-image {
    width: 100%;
    margin-bottom: 18px; }
  .welcome-page .welcome-text {
    background: #e6e6e6;
    border-radius: 5px;
    padding: 16px; }
    .welcome-page .welcome-text h1 {
      padding: 4px; }
    .welcome-page .welcome-text h2 {
      margin-bottom: 16px; }
    .welcome-page .welcome-text p {
      margin-bottom: 10px;
      text-align: left; }
  .welcome-page .join-btn {
    margin-top: 30px;
    background-color: #1abc9c;
    width: 200px;
    padding: 10px;
    margin-right: 10px; }
  .welcome-page .login-btn {
    background-color: #3498db;
    width: 200px;
    padding: 10px;
    margin-top: 16px;
    margin-right: 10px; }

/* LOGIN PAGE */
.login-page {
  margin: 0 auto;
  width: 100%; }
  .login-page .field-box {
    width: 300px;
    font-family: "source-sans-pro";
    background: #1abc9c;
    border-radius: 5px;
    padding: 16px;
    overflow: hidden; }
    .login-page .field-box .login-btn {
      background-color: #3498db;
      width: 200px;
      padding: 10px;
      margin-top: 16px;
      margin-right: 10px; }

/* MEDIUM MEDIA QUERY */
@media screen and (min-width: 800px) {
  .welcome-page {
    padding: 60px; }
    .welcome-page .welcome-image {
      max-width: 700px; }
    .welcome-page h1 {
      font-size: 4em; }
    .welcome-page h2 {
      font-size: 2em;
      line-height: 1.6; }
    .welcome-page .join-btn {
      margin-right: 20px; } }
/* LARGE MEDIA QUERY */
@media screen and (min-width: 1300px) {
  .welcome-page {
    padding: 100px; } }

/*# sourceMappingURL=style.css.map */
