/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'reset';

/* COLORS */
$navy: #34495e;
$blue: #3498db;
$green: #1abc9c;
$dkgrey: #666666;

/* Fonts */
$source: "source-sans-pro";
$altgoth: "alternate-gothic-no-3-d";

/* TYPOGRAPHY */

h1{
	font-family: $altgoth, helvetica, arial, sans-serif;
	font-size: 4em;
	color: $navy;
}

h2{
	font-family: $source, helvetica, arial, sans-serif;
	font-weight: 600;
	font-size: 1.8em;
	line-height: 1.2;
	color: $green;
	margin-bottom: 20px;
}

p {
	font-family: $source, helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.6;
	color: $dkgrey;
}

button {
	font-family: $source;
	font-size: 1.2em;
	color: #fff;
	border-radius: 5px;
	border: 0;

}

footer{
	font-size: 1em;
	font-family: $source;
}

/* GRID */

.container {
	width: 100%;

}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* WELCOME PAGE */

.welcome-page, 
.login-page,
.Signup-page,
.ride-results-page,
.dashboard-page{

	margin: 0 auto;
	padding: 20px;
	text-align: center;

	.welcome-image {
		width: 100%;
		margin-bottom: 18px;
	}

	.welcome-text, form,
	.post-box{
		background: #e6e6e6;
		border-radius: 5px;
		padding: 16px;

		h1{padding: 4px;}

		p{
		margin-bottom: 10px;
		text-align: left;}

	}
	.join-btn,
	.sign-up-btn {
		margin-top: 20px;
		background-color: $green;
		width: 200px;
		padding: 10px;
		margin-right: 10px;
	}

	.login-btn {
		background-color: $blue;
		width: 200px;
		padding: 10px;
		margin-top: 20px;
		margin-right: 10px;
	}
}

footer {
	margin-top: 60px;
}

/* LOGIN PAGE */
.login-page{

	form,
	.search-form{
		width: 320px;
		margin: 0 auto;
	}
	
	.login-btn,.sign-up-btn{
		margin-top: 20px;
		margin-right: 0px;}

	h2{
		margin-bottom: 20px;
		margin-right: 10px;
	}
		
}
	.form-label, 
	.password, {
		font-size: 1.2em;
		font-family:"source-sans-pro";	
	}

	.input-box {
		width: 200px;
		height: 40px;
		border-radius: 5px;
		border: 0;
		text-align: center;
		margin-top: 6px;
		/* margin-right: 10px; */
		margin-bottom: 10px;
	}

/* 	SIGN UP PAGE */
.Signup-page{
	margin: 0 auto;

	.home-btn {
		background-color:$blue;
		float: right;
		margin-bottom: 40px;
	}
	
	.Signup-form{
		width: 340px;
		margin: 0 auto;
			
		.form-label{
			float: left;
			margin-top: 20px;
			clear: left;	
		}

		.input-box {
			width: 200px;
			float: left;
			margin-left: 10px;
		}
	}
	}

.submit-btn{
		background-color: $green;
		width: 200px;
		margin-top: 20px;
		padding: 10px;
		}

/* Find Car Component */
.ride-results-page{
	.search-form{margin-bottom: 20px;}

	.submit-btn{margin-top: 10px;}

	.results-box{

	}


}


.logout-btn {
		background-color: $blue;
		float: right;
		margin-bottom: 40px;
	}	



/* DASHBOARD */
.dashboard-page{
	
}

/* MEDIUM MEDIA QUERY */

@media screen and(min-width: 800px){

	.welcome-page, 
	.login-page, 
	.Signup-page,
	.ride-results-page,
	.dashboard-page{
		padding: 40px;

	.welcome-image{max-width: 700px;}

	h1{font-size: 5em;}

	h2{
		font-size: 2.4em;
		line-height: 1.4;
	}

	.join-btn {margin-right: 20px;}
}
	.login-page{
		form {width: 500px;}
		.join-btn{margin-right:10px;}
	}

	.ride-results-page{
		.search-form{
		width: 500px;
		margin: 0 auto;}
	}

	.logout-btn{margin-right: 60px;}
	
	
}

/* LARGE MEDIA QUERY */
@media screen and(min-width: 1300px){

	.welcome-page,
	 .login-page,
	 .Signup-page,
	 .dashboard-page{
		padding: 100px;}


	}


