/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'reset';

/* COLORS */
$navy: #34495e;
$blue: #3498db;
$green: #1abc9c;
$dkgrey: #666666;

/* Fonts */
$source: "source-sans-pro";
$altgoth: "alternate-gothic-no-3-d";

/* TYPOGRAPHY */
	
h1{
	font-family: $altgoth, helvetica, arial, sans-serif;
	font-size: 3em;
	color: $navy;
}

h2{
	font-family: $source, helvetica, arial, sans-serif;
	font-weight: 600;
	font-size: 2em;
	line-height: 1.2;
	color: $green;
}

p {
	font-family: $source, helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.6;
	color: $dkgrey;
}

button {
	font-family: $source;
	font-size: 1.25em;
	color: #fff;
	border-radius: 5px;

}

.container {
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* WELCOME PAGE */
.welcome-page{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	// margin-top: 60px;
	padding: 40px;


	.welcome-image {
		clear: left;
		width: 340px;
		margin: 0 auto;
	}
	
	.welcome-text {
		background: #e6e6e6;
		border-radius: 5px;
		padding: 14px;

		h1{padding: 4px;}

		h2 {margin-bottom: 16px;}

		p{ margin-bottom: 0px;}

	}
	.join-btn {
		margin-top: 30px;
		background-color: $green;
		width: 180px;
		padding: 10px;
		
	}

	.login-btn {
		background-color: $navy;
		width: 180px;
		padding: 10px;
		margin-top: 16px;

	} 
	
}

/* LOGIN PAGE */

.login-page {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	// margin-top: 60px;
	padding: 40px;



.logo {
	margin: 0 auto;

}

}